

profiles {
	foo {
		autoMounts = true
		docker.enabled = true
		singularity.enabled = true
		singularity.cacheDir = "$PWD"
		process.container = 'file:////scratch/daff/mw/gatk_singularity/gatk_latest.sif'
	}
}

singularity {
    process.container = 'nextflow/rnaseq-nf:latest'
    singularity.enabled = true
    singularity.autoMounts = true
  }


manifest {
  description = 'Proof of concept of a RNA-seq pipeline implemented with Nextflow' 
}

process {
  
  prinseq.container = 'https://depot.galaxyproject.org/singularity/prinseq:0.20.4--hdfd78af_5'
  quast.container = 'https://depot.galaxyproject.org/singularity/quast:5.2.0--py39pl5321h2add14b_1'
  flye.container = 'https://depot.galaxyproject.org/singularity/flye:2.9--py310h590eda1_1'
  nanofilt.container = 'https://depot.galaxyproject.org/singularity/nanofilt:1.1.3--py35_0 '
}